@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #f31d42;
  min-width: 100vw;
}

.Logo{
  background-color: #000;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Currencies {
  display: flex;
  flex-direction: row;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: .5em;
}

.CurrencyInfo {
  padding: .3em;
}

.Converter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 50px;
}

.Converter>* {
  padding: 10px;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 1ps solid #333;
  border-radius: .3rem;
  padding: .25rem;
  width: 7em
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}